html,body,ul,div,span,input,p,h1,h2,h3{  margin: 0px;  padding: 0px;  display: block;  }
body{  line-height: 22px;  }
.wrap{  width: 100%;  overflow: hidden;  position: relative;  clear: both;  }
.top{  width: 100%;  height: 30px;  }
.navbar{  width: 1200px;  margin: 0 auto;  }
.lg_srh{  width: 100%;  overflow: hidden;  position: relative;  }
.logo_srh{  width: 400px;  float: left;  }
.logo{  padding: 1px 0px 23px 168px;  float: left;
}
.logo_text{  margin-right: 0px;  float: left;  padding: 7px 0px 23px 20px;  }
.com_name{  color: #262626;  font-size: 22px;  font-family: 微软雅黑;  padding: 7px 0px 0px 10px;  }
.com_url{  color: #333333;  font-family: Arial;  font-size: 14px;  }

.nav li{  float: left;  position: relative;  padding-top: 12px;  text-align: center;  }
.nav{  height: 81px;  }
li {  list-style-type:none;  padding: 12px 24px 12px 24px;  }
.nav-top{  font-size: 16px;  color: #1a1a1a;  font-family: 微软雅黑;  }
.nav-bottom{  font-size: 10px;  font-family:Arial;  color: #4d4d4d;  padding-bottom: 5px;  }
.nav li:hover{  background-image: url("../images/choose.png");  color:#ff0000  }
a{  text-decoration:none;  }
.nav li:hover .nav-top{color:#ff0000;}
.nav li:hover .nav-bottom{color:#ff0000;  background-image: url("../images/选中横条.png");  background-repeat:no-repeat;  background-position: bottom;  }

.show_pic{  width: 1200px;  margin: 0 auto;  }
.pic{  width: 93%;  overflow: hidden;  position: relative;  }
.show_img{  padding: 0px 0px 60px 88px;  }
.banner_img{  padding: 0px 0px 30px 88px;  }
.com_main{  width: 1200px;  margin: 0 auto;  }
.com_pre{  width: 100%;  overflow: hidden;  position: relative;  }
.com_text{  width: 500px; ;  padding: 0px 44px 60px 137px;  float: left;  }
.com_pro{  color: #1b99e8;  font-size: 22px;  font-family: Aparajita;  padding-bottom: 12px;
}
.com_intr{  color: #333333;font-size: 22px;font-family: 微软雅黑;  padding-bottom: 30px;
}
.com_xi{line-height:30px;color: #4d4d4d;font-size: 14px;font-family: 微软雅黑;text-indent: 2em}
.com_detail{float:right}
.com_cult{  width: 1200px;  margin: 0 auto;  }
.com_culture{  width: 100%;  overflow: hidden;  position: relative;  }
.comp_culture{color: #333333;font-size: 22px;font-family: 微软雅黑;  padding-bottom: 30px;}
.cult_pic{
    padding: 0px 0px 60px 125px;float: left;
}
.cult_detail{padding-left:40px;float:left;width: 560px;height: 290px;background-color: #EDEDED}
.text_pre{font-size: 18px;color: #333333;font-family: 微软雅黑;padding-bottom: 10px}
.text_afr{padding-bottom:20px;text-indent: 2em;color: #4d4d4c;font-family: 微软雅黑;font-size: 16px}

.pro_intro{  width: 1200px;  margin: 0 auto;  }
.pro_info{  text-align:center;width: 100%;  overflow: hidden;  position: relative;  }
.pro_case{color: #1b99e8;  font-size: 22px;  font-family: Aparajita;  padding-bottom: 12px;}
.pro_info{color: #333333;font-size: 22px;font-family: 微软雅黑;  padding-bottom: 30px;}

.pic_alt{  width: 1200px;  margin: 0 auto;  }
.pic_alter{  text-align:center;width: 100%;  overflow: hidden;  position: relative;  }
.arrow_left{padding:100px 15px 25px 125px;float: left}
.pic_1{float: left;padding-right: 10px}
.pic_2{float: left;padding-right: 10px}
.pic_3{float: left;padding-right: 15px}
.arrow_right{padding: 100px}
.pic_more{padding:25px 0px 50px 0px;text-align: center}
.more_pro{text-align: center;padding: 25px 0px 50px 0px}

.concant{  width: 1200px;  margin: 0 auto;  }
.con_main{  text-align:center;width: 100%;  overflow: hidden;  position: relative;  }
.con_detail{text-align:center;width: 100%;  overflow: hidden;  position: relative;}
.con_pro{ text-align: center; color: #1b99e8;  font-size: 22px;  font-family: Aparajita;  padding-bottom: 12px;
}
.con_we{  text-align:center;color: #333333;font-size: 22px;font-family: 微软雅黑;  padding-bottom: 25px;
}
.con_left{float:left;margin-right:9px;margin-left: 125px;width: 311px;background-color: #EDEDED;height: 150px}
.con_addr{padding-left: 138px;padding-top: 6px;padding-right: 137px}
.con_addr a:hover>img{
   background-color: #ff00ff;
}
.con_com{color: #333333;font-family: 微软雅黑;font-size: 20px;padding-bottom: 40px}
.add_det{font-size: 16px;font-family: 微软雅黑;text-align: center}

.con_mid{float: left;width: 310px;background-color: #EDEDED;height: 150px;margin-right: 9px}
.con_right{float: left;width: 310px;background-color: #EDEDED;height: 150px}

.fonter{  width: 1200px;  margin: 0 auto;  }
.fonter_main{margin-bottom:30px; text-align:center;width: 93%;  overflow: hidden;  position: relative;  }
.fonter_text{height: 50px;margin-left:88px;margin-top: 90px;background-color: #2e2e2e}
.fonter_sz{float:left;padding-right:120px;padding-left: 60px;padding-top: 13px;color: #ffffff;font-size: 16px;font-family: 微软雅黑}
.fonter-right{float:left;padding-left:10px;padding-right:30px;padding-top: 15px;color: #ffffff;font-size: 16px}


.roll_main{width: 1200px;  margin: 0 auto;}
.rollBox{padding-left:125px;text-align:center;width: 100%;  overflow: hidden;  position: relative;}
.rollBox .LeftBotton{height:56px;width:30px;background:url("../images/左箭头.png") no-repeat 0px 5px;float:left;display:inline;margin:100px 0 0 0;cursor:pointer;}
.rollBox .RightBotton{height:56px;width:30px;background:url("../images/右箭头.png") no-repeat 0px 5px;overflow:hidden;float:left;display:inline;margin:100px 0 0 0;cursor:pointer;}
.rollBox .Cont{margin-right:15px;width:875px;overflow:hidden;float:left;}
.rollBox .ScrCont{width:100000000px;}
.rollBox .Cont .pic{width:auto;float:left;text-align:center;}
.rollBox .Cont .pic img{padding:10px;background:#fff;display:block;margin:0 auto;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}

.main_page{padding-left:88px;}
.view_text{padding-left:80px;}
.view_text span{color: #272727;font-family: 微软雅黑;font-size: 22px; display:inline-block; }

.view_nav{padding-left:81px; padding-top:15px;}
.view_nav li{  float: left;  position: relative;  padding: 12px 118px;  text-align: center; background-image: url("../images/hilitecolor.png"); display:inline-block; cursor:pointer;}
.view_nav_top{  font-size: 20px;  color: #4c4c4c;  font-family: 微软雅黑;  }
.view_nav li:hover{  background-image: url("../images/选中横条.png");  color:#ffffff  }
.view_nav li.cur{color:#fff;background:#f60}

.view_com_text{width: 500px; padding: 100px 44px 50px 135px; float: left;}
.view_com_intr{ color: #333333;font-size: 24px;font-family: 微软雅黑;  padding-bottom: 31px;}
.view_com_xi{line-height:30px; color: #4d4d4d; font-size: 16px;font-family: 微软雅黑;text-indent: 2em}
.view_com_pic{padding:234px 0px 50px 65px;}
.view_tab{ display:none; }
.view_com_text1{width: 300px; padding: 100px 88px 50px 80px; float: left;}
.view_com_big{padding-left:45px; line-height:30px; color: #333333; font-size: 20px;font-family: 微软雅黑;text-indent: 2em}
.view_com_small{line-height:30px; color: #4d4d4d; font-size: 18px;font-family: 微软雅黑;text-indent: 2em}
.view_word{padding-top:65px;}
.view_com_pic1{padding:190px 0px 50px 65px;}

.about_name{padding:30px 0 28px 0; font-size: 20px; font-family: 微软雅黑;}
.about_pic{padding-top:20px 20px 0 0; float:left;}
.about_p{padding:0 0 25px 20px; color: #4d4d4d; font-size: 16px;font-family: 微软雅黑; float:right;}

.content {height:auto; overflow:hidden; padding:60px 0 50px 80px;}
.tt {color:#272727; font-size: 20px; font-family: 微软雅黑;}
.joblist {color:#4d4d4d; font-size: 16px; font-family: 宋体;}
table {width:100%;}

.pages {padding:0 0 100px 333px; color:#323232; font-size: 16px; font-family: 微软雅黑; text-align:center;}
.home_page {text-align:center; line-height:200%;
    height:36px; width:70px;
    background-image:url("../images/home_page.png");
    background-repeat:no-repeat;
    float: left;  position: relative;
    }
.next_page {text-align:center; line-height:200%;
    height:36px; width:90px;
    background-image:url("../images/next_page.png");
    background-repeat:no-repeat;
    float: left;  position: relative;
    }
.page {text-align:center; line-height:200%;
    height:36px; width:40px;
    background-image:url("../images/page.png");
    background-repeat:no-repeat;
    float: left;  position: relative;
    }
.recruit_pic {padding:60px 0 0 80px;float: left;  position: relative;}
.recruit_word {padding:60px 0 0 65px; float: left;width:48%;
    position: relative;color:#272727; font-size: 20px; font-family: 微软雅黑;}
.recruit_word_head {padding:10px 0 0px 12px;height:30px;}
.recruit_word_title {width:350px;float: left;  position: relative; }
.recruit_word_uptime {float: left;  position: relative; color:#4d4d4d; font-size: 16px; font-family: 宋体;}
.recruit_pic_job {height:60px;}
.recruit_pic_red {padding-top:30px;float: left;  position: relative;}
.recruit_word_desc {padding-top:30px;padding-left:20px;float: left;  position: relative;}
.recruit_word_info {padding:30px 0 0 20px; color:#272727; font-size: 16px; font-family: 宋体;}