{% extends "base.html" %}
{% block content %}
<!--show pic-->
<div class="show_pic">
    <div class="pic">
        <div class="banner_img">
            <img src="{{ static_url('images/banner_content.png') }}">
        </div>
    </div>
</div>
<!--show pic end-->
<div class="com_main">
    <div class="com_pre">
        <div class="main_page">
            <div class="view_text">
                <img src="{{ static_url('images/ledgement.png') }}"><span>&nbsp&nbsp招贤纳士&nbsp&nbsp</span><img src="{{ static_url('images/ledgement.png') }}">
            </div>
            <div class="recruit_pic">
                <img src="{{ static_url('images/recruit.png') }}">
            </div>
            <div class="recruit_word">
                <div class="recruit_word_head">
                    <div class="recruit_word_title">
                        <p>软件驱动工程师</p>
                    </div>
                    <div class="recruit_word_uptime">
                        <p>更新时间：2016-09-20</p>
                    </div>
                </div>
                <div class="recruit_pic_job">
                    <div class="recruit_pic_red">
                        <img src="{{ static_url('images/recruit_pic_red.png') }}">
                    </div>
                    <div class="recruit_word_desc">
                        <p>职位描述:</p>
                    </div>
                </div>
                <div class="recruit_word_info">
                    <p>1、能熟练运用C语言进行软件的设计、调试和开发；</p>
                    <p>2、能熟练阅读多种类型的芯片文档及电路原理图等资料，并根据资料进行驱动程序的编写；</p>
                    <p>3、能熟悉主流外设（LCD、CAMERA、TP、各种SENSOR等）的调试；</p>
                </div>
                <div class="recruit_pic_job">
                    <div class="recruit_pic_red">
                        <img src="{{ static_url('images/recruit_pic_red.png') }}">
                    </div>
                    <div class="recruit_word_desc">
                        <p>任职要求:</p>
                    </div>
                </div>
                <div class="recruit_word_info">
                    <p>1、男女不限，计算机、电子、通讯等相关专业本科以上；</p>
                    <p>2、最好有1年以上行业工作经验；</p>
                    <p>3、工作积极、主动、灵活，服从工作安排，具有良好的团队合作意识；</p>
                    <p>4、具有一定的数字电子、模拟电子电路基础；</p>
                    <p>5、拥有一定的硬件调试经验、能熟练使用万用表、示波器等调试工具；</p>
                    <p>6、精通mtk6260,6261,2503平台的驱动调试</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% end %}



