{% extends "base.html" %}
{% block content %}
<!--show pic-->
<div class="show_pic">
    <div class="pic">
        <div class="banner_img">
            <img src="{{ static_url('images/banner_content.png') }}">
        </div>
    </div>
</div>
<!--show pic end-->
<div class="com_main">
    <div class="com_pre">
        <div class="main_page">
            <div class="view_text">
                <img src="{{ static_url('images/ledgement.png') }}"><span>&nbsp&nbsp招贤纳士&nbsp&nbsp</span><img src="{{ static_url('images/ledgement.png') }}">
            </div>
            <div class="recruit_pic">
                <img src="{{ static_url('images/recruit.png') }}">
            </div>
            <div class="recruit_word">
                <div class="recruit_word_head">
                    <div class="recruit_word_title">
                        <p>高级硬件工程师</p>
                    </div>
                    <div class="recruit_word_uptime">
                        <p>更新时间：2016-09-20</p>
                    </div>
                </div>
                <div class="recruit_pic_job">
                    <div class="recruit_pic_red">
                        <img src="{{ static_url('images/recruit_pic_red.png') }}">
                    </div>
                    <div class="recruit_word_desc">
                        <p>职位描述:</p>
                    </div>
                </div>
                <div class="recruit_word_info">
                    <p>1、能独立完成手机硬件设计及调试；</p>
                    <p>2、新项目评审及试产跟进，对试产不良进行分析，提出改善意见并实施验证；</p>
                    <p>3、对可靠性试验失败进行深入分析并给出改善方案；</p>
                    <p>4、对量产机型在生产线和售后发生的批量不良进行分析并给出改善方案；</p>
                    <p>5、主导项目进度和质量指标保证</p>
                </div>
                <div class="recruit_pic_job">
                    <div class="recruit_pic_red">
                        <img src="{{ static_url('images/recruit_pic_red.png') }}">
                    </div>
                    <div class="recruit_word_desc">
                        <p>任职要求:</p>
                    </div>
                </div>
                <div class="recruit_word_info">
                    <p>1、本科以上学历，电子类、计算机类、通信类等相关专业毕业，5年以上电子电路设计的工作经验；</p>
                    <p>2、熟悉手机开设计流程。具有MTK手机方案硬件研发经验，有手机、GPS、智能硬件等电子产品的开发经验，具备独立设计硬件原理图；</p>
                    <p>3、能熟练使用pads工具设计原理图及完成layout；</p>
                    <p>4、基本的英语读写和听说能力；</p>
                    <p>5、具备良好的沟通能力和团队协作精神，能够吃苦耐劳，具备团队管理经验</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% end %}



