<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>深圳市睿博智联科技有限公司</title>
    <link rel="stylesheet" href="{{ static_url('css/index.css') }}">
</head>
<body>
<div class="wrap">
    <!--header-->
    <div class="header">
        <div class="top"></div>
        <div class="navbar">
            <div class="lg_srh">
                <div class="logo_srh">
                    <div class="logo">
                        <img src="{{ static_url('images/logo.png') }}">
                    </div>
                    <div class="logo_text">
                        <a href="#">
                            <div class="com_name">睿博智联</div>
                            <div class="com_url">www.wrbzl.com</div>
                        </a>
                    </div>
                </div>
                <div class="fr">
                    <div class="nav">
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="nav-top">首页</div>
                                    <div class="nav-bottom">HOME</div>
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                    <div class="nav-top">关于睿博</div>
                                    <div class="nav-bottom">ABOUT</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="nav-top">产品中心</div>
                                    <div class="nav-bottom">PRODUCTS</div>
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                    <div class="nav-top">新闻中心</div>
                                    <div class="nav-bottom">NEWS</div>
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                    <div class="nav-top">人才招聘</div>
                                    <div class="nav-bottom">JOIN US</div>
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                    <div class="nav-top">联系我们</div>
                                    <div class="nav-bottom">CONTACT US</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--show pic-->
    <div class="show_pic">
        <div class="pic">
            <div class="show_img">
                <img src="{{ static_url('images/banner.png') }}">
            </div>
        </div>
    </div>
    <!--show pic end-->
    <!--company present-->
    <div class="com_main">
        <div class="com_pre">
            <div class="com_text">
                <div class="com_pro">COMPANY&nbsp;PROFILE</div>
                <div class="com_intr">公司简介</div>
                <p class="com_xi">深圳市睿博智联科技有限公司成立于2010年10月，总部位于深圳及海外办事处， 致力于2G\3G以及4G的移动设备的研发和设计，核心技术团队人员均有十一年以上的从业经验。 主要研发设计的产品有智能穿戴、移动支付、智能家居、智能硬件，以及服务运营系统的移动设备服务提供商，服务过的主要品牌和客户有海尔、飞利浦、鼎瑄、柏颐等。</p>
                <div class="com_detail">
                    <a href="#"><img src="{{ static_url('images/learn_more.png') }}"></a>
                </div>
            </div>
            <div class="com_pic">
                <img src="{{ static_url('images/photo_intro.png') }}">
            </div>
        </div>
    </div>
    <!--company present end-->
    <!--company culture-->
    <div class="com_cult">
        <div class="com_culture">
            <div class="cult_pic">
                <img src="{{ static_url('images/company_culture.png') }}" />
            </div>
            <div class="cult_detail">
                <div class="com_pro">COMPANY&nbsp;PROFILE</div>
                <div class="comp_culture">企业文化</div>
                <div class="text_pre">我们的做事标准</div>
                <div class="text_afr">做对每一件小事,细节决定成败</div>
                <div class="text_pre">我们的口号</div>
                <div class="text_afr">没有优秀的个人,只有优秀的团队</div>
                <div class="text_pre">我们的价值观</div>
                <div class="text_afr">健康、快乐、真诚、务实、勤奋</div>
            </div>
        </div>
    </div>
    <!--company culture end-->
    <!--product introduce-->
    <div class="pro_intro">
        <div class="pro_info">
            <p class="pro_case">PRODUCTS&nbsp;CASE</p>
            <p class="pro_info">产品中心</p>
        </div>
    </div>
    <!--product introduce end-->
    <!--rotation picture-->
    <div class="roll_main">
        <div class="rollBox">
            <div class="LeftBotton" onmousedown="ISL_GoUp()" onmouseup="ISL_StopUp()" onmouseout="ISL_StopUp()"></div>
            <div class="Cont" id="ISL_Cont">
                <div class="ScrCont">
                    <div id="List1">
                        <!-- picture list begin -->
                        <div class="pic">
                            <a href="/" target="_blank"><img src="{{ static_url('images/1.png') }}"  /></a>
                        </div>
                        <div class="pic">
                            <a href="/" target="_blank"><img src="{{ static_url('images/2.png') }}"  /></a>
                        </div>
                        <div class="pic">
                            <a href="/" target="_blank"><img src="{{ static_url('images/3.png') }}"  /></a>
                        </div>
                        <div class="pic">
                            <a href="/" target="_blank"><img src="{{ static_url('images/4.png') }}" /></a>
                        </div>
                        <div class="pic">
                            <a href="/" target="_blank"><img src="{{ static_url('images/5.png') }}"  /></a>
                        </div>
                        <div class="pic">
                            <a href="/" target="_blank"><img src="{{ static_url('images/6.png') }}"  /></a>
                        </div>
                        <!-- picture list end -->
                    </div>
                    <div id="List2"></div>
                </div>
            </div>
            <div class="RightBotton" onmousedown="ISL_GoDown()" onmouseup="ISL_StopDown()" onmouseout="ISL_StopDown()"></div>
        </div>
        <div class="more_pro">
            <a href="#">
                <img src="{{ static_url('images/more.png') }}">
            </a>
        </div>
    </div>
    <!--rotation picture end-->
    <!--contact-->
    <div class="concant">
        <div class="con_main">
            <div class="con_pro">PRODUCTS&nbsp;CASE</div>
            <div class="con_we">联系我们</div>
        </div>
        <div class="con_detail">
            <div class="con_left">
                <div class="con_addr">
                    <a href="#">
                        <img src="{{ static_url('images/address.png') }}">
                    </a>
                </div>
                <p class="con_com">公司地址</p>
                <div class="add_det">深圳市福田区车公庙泰然工业区211栋608</div>

            </div>
            <div class="con_mid">
                <div class="con_addr">
                    <a href="#">
                        <img src="{{ static_url('images/tel.png') }}">
                    </a>
                </div>
                <p class="con_com">联系方式</p>
                <div class="add_det">0755-82787902</div>

            </div>
            <div class="con_right">
                <div class="con_addr">
                    <a href="#">
                        <img src="{{ static_url('images/email.png') }}">
                    </a>
                </div>
                <p class="con_com">电子邮箱</p>
                <div class="add_det">ruibo@wruibo.com‍</div>
            </div>
        </div>
    </div>
    <!---fonter begin-->
    <div class="fonter">
        <div class="fonter_main">
            <div class="fonter_text">
                <a href="http://www.miitbeian.gov.cn">
                    <p class="fonter-right">粤ICP备16043959号</p>
                </a>
                <p class="fonter_sz">Copyright © 2016 深圳市睿博智联科技有限公司 版权所有</p>
                <a href="#">
                    <p class="fonter-right">关于我们</p>
                </a>
                <a href="#">
                    <p class="fonter-right">网站声明</p>
                </a>
                <a href="#">
                    <p class="fonter-right">意见与建议</p>
                </a>
            </div>
        </div>
    </div>
    <!--fonter end-->
</div>
</body>
<script src="{{ static_url('js/rotationPic.js') }}"></script>
</html>